.tickerContainer {
  padding: 10px 15px;
  /* height: 50px; */
  /* width: 180px; */
}

.tickerList {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  height: 20px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.tickerStats {
  display: flex;
}

.tickerInfo {
  display: flex;
  align-items: baseline;
  margin-left: 0.2rem;
}

.tickerNameSymbolContainer {
  display: flex;
  justify-content: space-between;
}

.priceContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickerCPrice {
  font-size: 12px;
  margin: 0 0 0 8px;
}

.tickerHPrice {
  font-size: 12px;
}

.tickerLPrice {
  font-size: 12px;
}

.tickerRecommendation {
  font-size: 12px;
}

.tickerChangePercentage {
  font-size: 22px;
  line-height: 26px;
}

.tickerChangeNegative {
  color: #ef5350;
}

.tickerChangePositive {
  color: #26a69a;
}