.tickerContainer {
  padding: 10px 15px 10px;
  margin: 10px;
  /* height: 50px; */
  /* width: 180px; */
}

.tickerContainer:hover{
  background-color: rgb(170, 170, 170);
}

.tickerList {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 12px;
  height: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: stretch;;
  margin: 10px;
}

.tickerStats {
  display: flex;
}

.tickerInfo {
  display: flex;
  align-items: baseline;
  margin-left: 0.2rem;
}

.tickerName {
  color: rgb(150, 150, 150);
}

.priceContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tickerRecommendation {
  font-size: 12px;
  /* margin: 5px 0 0 8px; */
}

.changePercentageP {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgb(1, 134, 1);
  /* margin: 5px 0 0 8px; */
}

.changePercentageN {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: rgb(218, 3, 85);
  /* margin: 5px 0 0 8px; */
}

.currentCPriceP {
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(1, 134, 1);
}

.currentCPriceN {
  font-size: 20px;
  padding-bottom: 10px;
  color: rgb(218, 3, 85);
}

.tickerVolume {
  /* margin: 5px 0 0 8px; */
}

.tickerChangeNegative {
  color: #ef5350;
}

.tickerChangePositive {
  color: #26a69a;
}