.friendsOnline {
  display: flex;
  align-items: center;
  font-weight: 500;
  padding-left: 10px;
}

.friendsOnline:hover {
  background-color: rgb(124, 174, 248);
}

.friendsOnlineImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.friendOnlineImgContainer {
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}

.chatOnlineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  position: absolute;
  top: 0;
  left: 0;
}

.friendsOffline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  padding-left: 10px;
}

.friendsOffline:hover {
  background-color: rgb(124, 174, 248);
}

.friendsOfflineImg {
  opacity: 0.5;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.offlineFriendName {
  opacity: 0.5;
}

.friendOfflineImgContainer {
  opacity: 0.5;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}

.chatOfflineBadge {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(63, 63, 63);
  position: absolute;
  top: 0;
  left: 0;
}