.message {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
}

.messageTop {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

.messageTop.own {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  /* flex-direction: column; */
}

.messageImg {
  width: 40px;
  height: 40px;
  border-radius: 30%;
  object-fit: cover;
  margin: 10px;
}

.timestamp {
  color: gray;
  padding-right: 10px;
}

.messageText {
  /* padding: 10px; */
  /* border-radius: 20px; */
  font-size: medium;
  background-color: rgb(95, 95, 95);
  color: rgb(255, 255, 255);
  max-width: 300px;
}

.messageInfo {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(23, 177, 238);
  color: rgb(255, 255, 255);
}

.message.own .nameTimestampContainer {
  display: flex;
  flex-direction: row-reverse;
}

.leftMessage {
  color: gray;
  display: flex;
  justify-content: center;
}